$color-primary-0 : #43BF63;
$color-primary-1 : #2D7F42;
$color-primary-2 : #5AFF84;
$color-primary-3 : #164021;
$color-primary-4 : #51E576;
$color-primary-5 : #246534;
$top-nav-height: 60px;
$footer-height: 35px;
$mobile-footer-height: 90px;
@import url('https://fonts.googleapis.com/css?family=B612+Mono');
@import url('https://fonts.googleapis.com/css?family=Patua+One');

header{
    width: 100%;
    height: $top-nav-height;
    position: fixed;
    top: 0;
    left: 0;
    margin:0;
    padding: 0;
    font-family: 'Patua One', cursive;
}
.navbar{
    height: 100%;
    width: 100%;
    border-bottom: 5px solid $color-primary-0;
    background:$color-primary-3;
}
.navbar ul{
    list-style-type: none;
    font-size: 24px;
    margin: 0;
    padding: 0;
    margin-left: 30px;
}
.navbar li{
    align-self: center;
    line-height: $top-nav-height;
    float: left;
}
.navbar a:hover{
    color: $color-primary-1;
}
.navbar .title{
    font-size: 50px;
}
.navbar .rightSide{
    font-size: 30px;
    margin: 0 30px;
    float: right;
}
#pageOn{
    color: $color-primary-5
}
a{
    color: $color-primary-4;
    text-decoration: none;
}
a:hover{
    color: $color-primary-2;
}

.page{
    width: 65%;
    text-align: center;
    margin: $top-nav-height auto 0 auto;
    overflow: visible;
}
.project p{
    text-align: left;
    font-family: 'B612 Mono', monospace;
    display: inline;
}
.project .imageHolder{
    width: 400px;
    height: 300px;
    float: left;

}
.project img{
    height: auto; 
    width: auto; 
    max-width: 400px; 
    max-height: 300px;
    float: left;
    margin: 13px 0px;
}
.project{
    list-style-type: none;
    width: 100%;
    height: 330px;
    border-bottom: 3px;
    border-top: 3px;
}
ul{
    margin-left: -40px;
}
.project:hover {
    background-color: $color-primary-3;
    filter: alpha(opacity=30);
}
h2{
    font-size: 30px;
}
hr{
	border: 4px solid $color-primary-0;
	border-radius: 4px;
    margin: 0px auto;
    margin-bottom: -25px;
    margin-top: -4px;
}
body{
    font-family: 'Patua One', cursive;
    color:$color-primary-4;
    width: 100%;
    margin: 0px;
    padding: 0px;
    background: $color-primary-5;
    overflow-y: scroll;
}
.showcase video{
    width: 75%;
}
.backVideo{
    width: 100%;
    position:fixed;
    top: 0;
    left: 0;
    z-index: -100;
    filter: opacity(10%);

}
.showcase{
    list-style-type: none;
    width: 100%;
    height: 600px;
    border-bottom: 3px;
    border-top: 3px;
}
.footer{
    width: 100%;
    height: $footer-height;
    position: fixed;
    bottom: 0px;
    border-top: 5px solid $color-primary-0;
    background:$color-primary-3;
    text-align: center;
    font-size: 30px;
}
h1{
    font-size: 50px;
}
.fontAwesomeLink{
    margin: 0 10px;
}
.fontAwesomeLink:hover{
    color : $color-primary-1;
    width: 30px;
    
}
i{
	margin: 3 auto;
}
@media screen and (max-device-width:900px){
    .page{
        width: 90%;
        overflow: hidden;
    }
    .project p{
        font-size: 20px;
    }
    .project{
        text-align: center;
    }
    .footer{
        width: 100%;
        height: $mobile-footer-height;
        font-size: 75px;
    }
    .fontAwesomeLink{
        margin: 0px 30px;
    }
}
@media screen and(max-width:900px){
    .page{
        width: 90%;
    }
    .navbar li{
        font-size: 14px;
        top: 50%;
    }
    .navbar a{
        font-size: 20px;
    }
    .navbar .title{
        font-size: 40px;
    }
    .imageHolder{
        display: none;
        width: 0px;
        height: 0px;
    }
    .project{
        margin: 0px;
        width: 100%;
        height: 250px;
    }
}