$color-primary-0 : #43BF63;
$color-primary-1 : #2D7F42;
$color-primary-2 : #5AFF84;
$color-primary-3 : #164021;
$color-primary-4 : #51E576;
$color-primary-5 : #246534;
@import url('https://fonts.googleapis.com/css?family=B612+Mono');

header{
    width: 100%;
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    margin:0;
    padding: 0;
    line-height: 60px;
}
.navbar{
    height: 100%;
    width: 100%;
    border-bottom: 5px solid $color-primary-0;
    background:$color-primary-3;
}
.navbar ul{
    list-style-type: none;
    font-size: 24px;
    margin: 0;
    padding: 0;
    margin-left: 30px;
    margin-right: 30px;

}
a{
    color: $color-primary-4;
    text-decoration: none;
}
a:hover{
    color: $color-primary-2;
}
.navbar li{
    float: left;
}
.navbar .rightSide{
    float: right !important;
}
.navbar li + li{
    margin-left: 25px;
    margin-right: 25px;
}
.page{
    width: 65%;
    text-align: center;
    margin: 90px auto;
    overflow: visible;
}
.project p{
    text-align: left;
}
.project img{
    height: auto; 
    width: auto; 
    max-width: 400px; 
    max-height: 300px;
    border: 3px solid $color-primary-2;
    float: left;
    margin-right: 30px;
    margin-top: 10px;
}
.project{
    list-style-type: none;
    width: 100%;
    height: 330px;
    border-bottom: 3px;
    border-top: 3px;
}
ul{
    margin-left: -40px;
}
.project:hover {
    background-color: $color-primary-3;
}
h2{
    font-size: 30px;
}
hr{
    border: 2px solid $color-primary-0;
    margin: 0px auto;
    margin-bottom: -25px;
    margin-top: -4px;

}
body{
    font-family: 'B612 Mono', monospace;
    color:$color-primary-4;
    width: 100%;
    background: $color-primary-5;
}