@import url("https://fonts.googleapis.com/css?family=B612+Mono");
@import url("https://fonts.googleapis.com/css?family=Patua+One");
header {
  width: 100%;
  height: 4em;
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  font-family: "Patua One", cursive;
  box-shadow: 0px 0px 20px black;
  z-index: 1;
}

#menu-button{
  display: none;
}

.writeup-button{
  display: none;
}

label{
  cursor: pointer;
}

.writeup{
  display: none;
}

.writeup-button:not(:checked) ~ hr{
  display: none;
}

.writeup-button ~ label{
  font-size: 2em;
}

nav {
  height: 100%;
  width: 100%;
  border-bottom: 5px solid #43BF63;
  background: #164021;
}

nav {
  list-style-type: none;
  font-size: 1em;
  display: inline-block;
}

nav *{
  display: initial;
  margin-left: 1em;
}

nav a:hover {
  color: #51E576;
}

a {
  color: #51E576;
  text-decoration: none;
}

a:hover {
  color: #5AFF84;
}

nav .rightSide {
  color: #246534;
}

.rightSide a{
  color: #246534;
  cursor: pointer;
}

#pageOn {
  color: #51E576;
}

.page {
  width: 65%;
  text-align: center;
  margin: 5em auto 0 auto;
  overflow: visible;
}

.project p {
  text-align: left;
  font-family: "B612 Mono", monospace;
  display: inline;
}

.project .imageHolder {
  width: 400px;
  height: 300px;
  float: left;
  padding-left: 10px;
}

.project img {
  height: auto;
  width: auto;
  max-width: 400px;
  max-height: 300px;
  float: left;
  margin: 13px 0px;
}
.project a{
  text-decoration: none;
  display: block;
  width: 100%;
  height: 100%;
}
.project {
  list-style-type: none;
  width: 100%;
  height: 330px;
  border-bottom: 3px;
  border-top: 3px;
}

ul {
  margin-left: -40px;
  list-style-type: none;
}

.project:hover {
  background-color: #164021;
  filter: alpha(opacity=30);
  cursor: pointer;
}

h2 {
  font-size: 2em;
}

hr {
  border: 4px solid #43BF63;
  border-radius: 4px;
}

#body{
  background-color: #246534;
}

body {
  font-family: "Patua One", cursive;
  color: #51E576;
  width: 100%;
  margin: 0px;
  padding: 0px;
  background-color: #246534;
}

.showcase video {
  width: 75%;
  z-index: 0;
}

.backVideo {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -100;
  filter: opacity(10%);
}

.showcase {
  list-style-type: none;
  width: 100%;
  height: 600px;
  border-bottom: 3px;
  border-top: 3px;
}

.footer {
  width: 100%;
  height: 35px;
  position: fixed;
  bottom: 0px;
  border-top: 5px solid #43BF63;
  background: #164021;
  text-align: center;
  font-size: 2em;
  box-shadow: 0px 0px 20px black;
}

h1 {
  font-size: 3em;
}

.fontAwesomeLink {
  margin: 0 10px;
}

.fontAwesomeLink:hover {
  color: #2D7F42;
  width: 30px;
}

i {
  margin: 3 auto;
}

.wrapper {
  min-height: 100vh;
}

@media screen and (max-device-width: 900px) {
  .page {
    width: 90%;
    overflow: hidden;
  }

  .project p {
    font-size: 0.5em;
  }

  .project {
    text-align: center;
  }

  .footer {
    width: 100%;
    height: 90px;
    font-size: 75px;
  }

  .fontAwesomeLink {
    margin: 0px 30px;
  }
}

@media screen and (min-device-width: 1080px) and (max-width: 1060px) {
  .page {
    width: 90%;
  }

  header {
    position: absolute;
  }

  nav li {
    font-size: 2em;
    margin-left: 0;
  }

  nav a {
    font-size: 1em;
  }

  nav h1 {
    font-size: 2em;
  }

  nav h2 {
    font-size: 1em;
  }

  nav > h2{
    display: none;
  }


  .imageHolder {
    display: none;
    width: 0px;
    height: 0px;
  }

  .project {
    margin: 0px;
    width: 100%;
    height: 250px;
  }
  
  #menu-button ~ li{
    display: none;
  }

  .footer {
    position: absolute;
    bottom: inherit;
  }


  #menu-button:checked ~ li{
    display: block;
    background: #164021;
  }


  #menu-button + label{
    font-size: 2em;
    float: right;
    margin: 0.5em;
  }

  #menu-button + label:before {
    content: "\f0c9"; 
  }

  #menu-button:checked + label:before {
    content: "\f0aa"; 
  }
}

.writeup-button:checked ~ iframe{
  display: inherit;
  width: 100%;
  height: 50em;
  background: #164021;
}

.writeup-button:checked ~ hr{
  display: inherit;
}
