html{
    height: 100%;
    padding: 0;
}
body{
    height: 100%;
    padding: 0;
    margin: 0;
}
#page{
    display: flex;
    min-width: 100%;
    min-height: 100%;
}
#output{
    background: #04010a;
    min-height: 100%;
    width: 50%;
    color: yellow;
    border : orange dashed 3px;
    padding: 20px 0 0 20px ;
}


#jsonEditor{
    background: #130a27;
    min-height: 100%;
    width: 50%;
    color: yellow;
    border : orange dashed 3px;
    padding: 20px 0 0 20px ;
}
#jsonEditor .entry{
    display: flex;

}
.entry * {
    line-height: 2;
    display: inline-block;
    padding: 0;
    margin: 0;
    margin-left: 10px;
    background: none;
    border: none;
    font-size: 20px;
}


.entry .key, .entry .string{
    color: orange;
}
.entry .boolean{
    color: teal;
    height: 20px;
}
.entry .number{
    color: red;
}
.entry select{
    color: orange;
}
.entry option{
    background: #1c0847;
}
.entry .number,.entry .boolean, .entry .string{
    width: 50%;
}
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }